<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Eccomerce - proyecto Chaves Juan Gabriel</title>
        <style>
            .container-fluid { width: 100vw; margin: auto; } .card { padding: 1.5rem; width: 300px; height: 400px; margin: 2rem; border: 1px solid #ccc; box-shadow: 0.5px 2px 4px rgba(0, 0, 0, 0.1); } .card img { width: 100%; height: 200px; object-fit: cover; }
        </style>
    </head>
    <body>
        {{{body}}}
    </body>
</html>